.cover{*zoom:1;}
.cover:before,.cover:after{content:" ";display:table}
.cover:after{clear:both}
.clear{clear:both;display:block;width:0 !important;height:0 !important;min-height:0 !important;min-width:0 !important;margin:0 !important;padding:0 !important;overflow:hidden}
.zedloos{padding-top:1px;padding-bottom:1px}

div.containers {
	width: 100%;
	border: 1px solid #000;
}

div.container{
	width: 950px;
	margin: 0 auto;
	min-height: 500px;
	border: 1px solid #000;
}

header section.slider {
	width: 950px;
	margin: 0 auto;
	min-height: 300px;
	border: 1px solid #f00;
}

header section.menu {
	width: 950px;
	margin: 20px auto 20px;
	border: 1px solid #0f0;
}

header section.menu div.searchbar {
	width: 220px;
	float: left;
	min-height: 50px;
	border: 1px solid #C00;
}

header section.menu div.ilogo {
	width: 145px;
	float: left;
	margin-left: 5px;
	min-height: 50px;
	border: 1px solid #CCC;
}

header section.menu nav {
	width: 570px;
	margin-left: auto;
	min-height: 50px;
	border: 1px solid #0c0;
}

div.contents {
	width: 950px;
	margin: 0 auto 10px;
	border: 1px solid #00f;
	margin-bottom: 10px;
}

div.contents section.content {
	width: 700px;
	float: left;
	min-height: 400px;
	border: 1px solid #ff0;
}

div.contents  section.rightside {
	width: 240px;
	margin-left: auto;
	border: 1px solid #f0f;
}

div.contents  section.rightside div.logreg {
	margin-top: 5px;
	min-height: 180px;
	border: 1px solid #00c;
}

div.contents  section.rightside div.news {
	margin-top: 5px;
	min-height: 250px;
	border: 1px solid #cc0;
}

div.contents  section.rightside div.spansors {
	margin-top: 5px;
	min-height: 180px;
	border: 1px solid #c0c;
}

div.contents  section.rightside div.recommendfood {
	margin-top: 5px;
	min-height: 200px;
	border: 1px solid #0cc;
}

footer {
	width: 950px;
	margin: 0 auto;
}

footer section.info {
	margin-top: 5px;
	border: 1px solid #0ff;
}

footer section.info div.question {
	width: 300px;
	float: left;
	min-height: 150px;
	border: 1px solid #300;
}

footer section.info div.contactus {
	width: 300px;
	float: left;
	margin-left: 10px;
	min-height: 100px;
	border: 1px solid #030;
}

footer section.info div.category {
	width: 320px;
	margin-left: auto;
	min-height: 150px;
	border: 1px solid #003;
}

footer section.copyright {
	margin-top: 5px;
	text-align: center;
	min-height: 30px;
	border: 1px solid #00f;
}

div.contents  section.content div.bestplaces {
	margin-top: 15px;
	min-height: 250px;
	border: 1px solid #ccc;
}

div.contents  section.content div.sponsors {
	margin-top: 15px;
	min-height: 200px;
	border: 1px solid #ddd;
}

div.contents  section.content div.bestfoods {
	margin-top: 15px;
	min-height: 250px;
	border: 1px solid #666;
}

div.contents  section.content div.newestplaces {
	margin-top: 15px;
	min-height: 250px;
	border: 1px solid #666;
}